.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #efbb37;
  text-indent: 20px;
  font-size: 20px;
}
.button {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #efbb37;
  border-radius: 10px;
  color: white;
}
.editor_box {
  position: relative;
}
