.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #efbb37;
  text-indent: 20px;
  font-size: 20px;
}
.input_file {
  display: none;
}
.file {
  display: block;
  width: 200px;
  height: 40px;
  background-color: #00eeff;
  border-radius: 10px;
  color: white;
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 10px;
}
.file:hover {
  background-color: pink;
}
.btn_box {
  width: 390px;
  display: flex;
  justify-content: space-around;
}
.submit_btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #efbb37;
  border-radius: 20px;
  color: white;
}
.cancel_btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: rgb(231, 55, 55);
  border-radius: 20px;
  color: white;
}
