/*Comments*/
.comments_title {
  text-align: center;
  padding: 45px 0 10px;
}
.comments_btn {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 30px;
  background: #efbb37;
  border-radius: 30px;
  color: white;
  border: none;
  margin-bottom: 20px;
}
.comments_list {
  margin-bottom: 20px;
  width: 500px;
}
.comments_list_item {
  margin: 5px;
  border: 2px solid coral;
  border-radius: 10px;
}
.comments {
  padding: 10px;
  word-wrap: break-word;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
}
.comments::first-letter {
  text-transform: uppercase;
}
.delete_btn {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 30px;
  background: #efbb37;
  border-radius: 30px;
  color: white;
  border: none;
  margin-bottom: 20px;
}
.form {
  display: flex;
  width: 273px;
  margin: 0 auto;
  flex-direction: column;
}

.area {
  margin-bottom: 20px;
}
button:hover {
  background-color: pink;
}
